.heading-section-directory-page .border-color span {
    height: 1px;
    border-top: 1px solid #ebebeb;
    display: block;
    position: relative;
    top: 22px;
    width: 45%;
    margin: auto;
    padding-bottom: 20px;
}

.heading-section-directory-page .directory-page-title h1 {
    text-align: center;
    line-height: 51px !important;
    font-size: 16px !important;
    line-height: 51px !important;
    color: #000000 !important;
    font-weight: 400;
}
