.wrapper {
    margin: auto 80px;
}

.title {
    font-family: "Poppins";
    font-size: 36px;
    font-weight: 600;
    color: #0f0e0e;
    margin-bottom: 40px;
}

.form {
    background: #f3f3f3;
    border-radius: 10px;
    padding: 40px;
    border: 1px solid #bbbaba;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.field label {
    font-family: "Poppins";
    font-size: 14px;
    margin-bottom: 6px;
}

.field label span {
    color: red;
}

.checkboxGroup span{
    color: red;
}

.checkboxGroup {
    margin-bottom: 25px;
}

.checkboxGroup label:first-child {
    margin-bottom: 10px;
    display: block;
}

.checkboxLine {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;

    font-family: "Poppins";
    font-size: 14px;
}

.field input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.submitBtn {
    padding: 10px 28px;
    background: #1ab56a;
    color: white;
    font-family: "Poppins";
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.submitBtn:hover {
    background: #159f5a;
}

.field .getInvolved {
    border: 1px solid #cdc7c7;
    height: 46px;
}

@media (max-width: 768px) {
    .row {
        grid-template-columns: 1fr;
    }
}