/* announcements */
.announcements {
  background-color: #000068;
  padding: 40px 0 55px;
}

.announcements h1 {
  color: #404040;
}

.announcements h2 {
  margin-bottom: 16px !important;
}

.announcements .announcements-content {
  background-color: #fff;
  padding: 40px 40px 10px 40px;
  border-radius: 10px;
}

.announcements .card ul li {
  margin-left: 40px;
  margin: 0 0 42px 27px;
}

.announcements ul li a {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.004em;
  text-align: left;
  text-transform: capitalize;
  position: relative;
  color: #2e2e2e;
}

.announcements ul li a:hover {
  color: #4bbb87;
}

.announcements .card ul li a::before {
  content: "";
  background: url(https://ww2.innovatefinance.com/wp-content/uploads/2022/09/vector-1.svg);
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: -40px;
  top: 0;
}

/* become */
.become-content {
  background-color: #4bbb87;
  padding: 40px 40px 47px 40px;
  border-radius: 10px;
  color: #fff;
  margin: 70px 0 0 0;
}

.become-content .h1 {
  color: #fff;
}

.become-content .paragraph .p1 {
  margin-bottom: 20px !important;
  text-transform: capitalize !important;
  color: #fff !important;
  line-height: 24px !important;
}

.become-content .global-btn {
  background-color: #000068 !important;
  width: 100%;
  margin-top: 0px !important;
}

@media only screen and (max-width: 767px) {
  .become-content {
    display: block !important;
  }
  .announcements .h1,
  .become-content .h1 {
    text-align: left !important;
    font-size: 20px !important;
    line-height: 30px !important;
  }
  .become-content .h1 {
    margin-bottom: 16px !important;
  }
  .become-content .paragraph .p1 {
    line-height: 24px;
  }
  .announcements .card ul li {
    margin-left: 26px;
    margin-bottom: 42px;
    align-items: center;
    list-style: none;
  }
}

/* @media only screen and (max-width: 999px) {
  .announcements .card ul li a::before {
    margin-top: 0px;
  }
} */
