.become-a-member-two-column-section {
  position: relative;
}

.become-a-member-two-column-section.become-twocol-1 {
  margin-top: -79px !important;
}

.become-a-member-two-column-section.become-twocol-2 {
  margin-top: -83px !important;
}

.become-a-member-two-column-section.become-twocol-3 {
  margin-top: -76px !important;
  overflow: hidden;
}

.become-a-member-two-column-section.become-twocol-4 {
  margin-top: -66px !important;
}

.become-a-member-two-column-section .content-wrapper {
  z-index: 1;
}

.become-a-member-two-column-section .content-wrapper h2 {
  margin-bottom: 14px;
  color: #404040;
  font-weight: bold;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.become-a-member-two-column-section .content-wrapper h3 {
  margin-bottom: 50px;
  font-size: 38px;
  line-height: 57px;
  font-weight: 400;
}

.become-a-member-two-column-section.become-twocol-1 .content-wrapper h3 {
  margin-top: 10px;
}

.become-a-member-two-column-section.become-twocol-2 .content-wrapper h3 {
  margin-top: 80px;
}

.become-a-member-two-column-section.become-twocol-3 .content-wrapper h3 {
  margin-top: 56px;
}

.become-a-member-two-column-section.become-twocol-4 .content-wrapper h3 {
  margin-top: 56px;
}

.become-a-member-two-column-section.become-twocol-1 .content-wrapper p {
  margin-bottom: 0;
}

.become-a-member-two-column-section .content-wrapper p {
  margin-bottom: 20px;
  line-height: 24px;
  width: 98%;
}

.become-a-member-two-column-section ul li {
  list-style-type: disc;
  font-size: 14px;
  line-height: 23px;
  color: #444444;
  font-style: normal;
  font-weight: 400;
  margin-left: 2.3em;
}

.become-a-member-two-column-section a:hover {
  color: #4bbb87 !important;
}

.become-a-member-two-column-section .image-div img {
  margin-right: 21px !important;
}

.become-a-member-two-column-section.become-twocol-1 .image-div-transition-right div {
  transform: translate3d(0, 0, 0);
  transition: none !important;
}

.become-a-member-two-column-section .image-div-transition-top div {
  opacity: 0;
  transform: translate3d(0, -200px, 0);
  /* cursor: pointer; */
  transition: 0.5s all ease-in-out;
}

.become-a-member-two-column-section .image-div-transition-right div {
  opacity: 0;
  transform: translate3d(200px, 0, 0);
  /* cursor: pointer; */
  transition: 0.5s all ease-in-out;
}

.become-a-member-two-column-section .transition-right div,
.become-a-member-two-column-section .transition-top div {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.become-a-member-two-column-section:nth-child(2n) .main-wrapper::before {
  content: "";
  background: rgba(0, 0, 52, 0.1);
  width: 100%;
  height: 450px;
  position: absolute;
  /* opacity: 0.7; */
  left: 0;
  top: 15%;
}

@media only screen and (max-width: 1280px) {
  .become-a-member-two-column-section {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .become-twocol-spacer-desktop-only {
    display: none;
  }

  .become-a-member-two-column-section.become-twocol-1 {
    padding: 0px 20px 90px 20px;
    margin-top: 0px !important;
  }

  .become-a-member-two-column-section.become-twocol-2,
  .become-a-member-two-column-section.become-twocol-3,
  .become-a-member-two-column-section.become-twocol-4,
  .become-a-member-two-column-section {
    margin-top: 0px !important;
    padding: 60px 20px;
  }

  .become-a-member-two-column-section.become-twocol-2,
  .become-a-member-two-column-section.become-twocol-4 {
    background: rgba(0, 0, 52, 0.1);
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .become-a-member-two-column-section .image-div img {
    top: 0px;
  }

  .become-a-member-two-column-section.become-twocol-4 {
    margin-top: 0px;
  }

  .become-a-member-two-column-section.become-twocol-2 {
    margin-bottom: 27px;
    margin-top: 0px;
  }

  .become-a-member-two-column-section.become-twocol-4 .main-wrapper::before,
  .become-a-member-two-column-section.become-twocol-2 .main-wrapper::before {
    display: none;
  }

  .become-a-member-two-column-section.become-twocol-2 .main-wrapper,
  .become-a-member-two-column-section.become-twocol-4 .main-wrapper {
    height: auto !important;
  }

  .become-a-member-two-column-section.become-twocol-2,
  .become-a-member-two-column-section.become-twocol-4 {
    background-color: rgba(0, 0, 52, 0.1);
  }

  .become-a-member-two-column-section.become-twocol-2 .main-wrapper,
  .become-a-member-two-column-section.become-twocol-4 .main-wrapper {
    padding-bottom: 30px;
  }

  /* transition start*/
  .become-a-member-two-column-section .image-div-transition-top div {
    opacity: 0;
    transform: translate3d(0, -300px, 0);
    /* cursor: pointer; */
    transition: 0.9s all ease-in-out;
  }

  .become-a-member-two-column-section .image-div-transition-right div {
    opacity: 0;
    transform: translate3d(300px, 0, 0);
    /* cursor: pointer; */
    transition: 0.9s all ease-in-out;
  }

  .become-a-member-two-column-section .transition-right div,
  .become-a-member-two-column-section .transition-top div {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  /* transition end*/
}

@media only screen and (max-width: 768px) {
  .become-a-member-two-column-section.become-twocol-1 {
    padding: 0px 20px 50px 20px;
  }

  .become-a-member-two-column-section.become-twocol-3 {
    padding: 0px 20px 30px 20px;
  }

  .become-a-member-two-column-section.become-twocol-1 .content-wrapper h3 {
    margin-top: 0px !important;
    padding-top: 0 !important;
  }

  .become-a-member-two-column-section.become-twocol-2,
  .become-a-member-two-column-section.become-twocol-4,
  .become-a-member-two-column-section {
    margin-top: 0px !important;
    padding: 60px 20px;
  }

  .become-a-member-two-column-section.become-twocol-3 .content-wrapper h3 {
    margin-top: 0 !important;
  }
}

@media only screen and (max-width: 767px) {

  /* .become-a-member-two-column-section {
    padding-bottom: 65px;
    padding: 30px 0 !important;
  } */
  .become-a-member-two-column-section.become-twocol-2,
  .become-a-member-two-column-section.become-twocol-4 {
    padding: 30px 0 !important;
  }

  .become-a-member-two-column-section.become-twocol-3 {
    padding: 0px 20px 57px 20px;
  }

  .become-a-member-two-column-section .content-wrapper h3 {
    font-size: 28px !important;
    line-height: 42px !important;
    margin-bottom: 24px !important;
    padding-top: 0;
    margin-top: 0 !important;
  }

  .become-a-member-two-column-section .image-div.animate-flash {
    animation: flash;
    animation-duration: 2s;
    animation-iteration-count: 1;
  }

  .become-a-member-two-column-section .content-wrapper .paragraph:last-child p {
    margin-bottom: 0;
  }

  /*  */
  .become-a-member-two-column-section.become-twocol-4 {
    margin-top: 0px;
  }

  .become-a-member-two-column-section.become-twocol-2 {
    margin-bottom: 27px;
    margin-top: 0px;
  }

  .become-a-member-two-column-section.become-twocol-4 .main-wrapper::before,
  .become-a-member-two-column-section.become-twocol-2 .main-wrapper::before {
    display: none;
  }

  .become-a-member-two-column-section.become-twocol-2 .main-wrapper,
  .become-a-member-two-column-section.become-twocol-4 .main-wrapper {
    height: auto !important;
  }

  .become-a-member-two-column-section.become-twocol-2,
  .become-a-member-two-column-section.become-twocol-4 {
    background-color: rgba(0, 0, 52, 0.1);
  }

  .become-a-member-two-column-section.become-twocol-2 .content-wrapper h3,
  .become-a-member-two-column-section.become-twocol-4 .content-wrapper h3 {
    padding-top: 0px;
  }
}

@media only screen and (max-width: 567px) {
  .become-a-member-two-column-section .content-wrapper h3 {
    width: 95%;
  }

  .become-a-member-two-column-section.become-twocol-3 {
    padding: 0px 0px 57px 20px;
  }

  .become-a-member-two-column-section.become-twocol-2 {
    padding-right: 19px !important;
  }

  .become-a-member-two-column-section.become-twocol-2 .image-div img {
    margin-right: 0 !important;
  }

  .become-a-member-two-column-section .image-div img {
    margin-right: 0 !important;
  }

  /*  */
}