.tab-section {
  padding: 0 0 30px 0;
}

.tab-section ul li {
  position: relative;
  display: inline-block;
  width: 100%;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
}

.tab-section ul li a {
  padding: 10px;
  display: inline-block;
  width: 100%;
  line-height: 23px;
  font-size: 14px;
}

.tab-section ul li::after {
  position: absolute;
  content: "";
  background: #ccc;
  left: 0px;
  width: 100%;
  height: 4px;
  bottom: 0;
}

.tab-section ul li a:hover {
  background-color: #000;
  color: #fff;
}

.tab-section ul li:nth-child(1)::after {
  background: linear-gradient(to right, #006b31 0%, #6ec2b5 100%);
}

.tab-section ul li:nth-child(2)::after {
  background: linear-gradient(to right, #3c7eb0 0%, #14b9da 100%);
}

.tab-section ul li:nth-child(3)::after {
  background: linear-gradient(to right, #f1883e 0%, #e9ca00 100%);
}

.tab-section ul li:nth-child(4)::after {
  background: linear-gradient(to right, #543177 0%, #954d98 100%);
}

/* /membership page start */
.membership-tab.tab-section ul {
  justify-content: inherit !important;
}
.membership-tab.tab-section ul li {
  width: 33% !important;
}
.membership-tab.tab-section ul li:nth-child(2)::after {
  background: linear-gradient(to right, #543177 0%, #954d98 100%) !important;
}
@media screen and (max-width: 767px) {
  .membership-tab.tab-section ul li {
    width: 100% !important;
    border-right: none;
    border-left: none;
  }
}
/* /membership page end */
