@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../styles/components/BeAPartOfCommunity.css";
@import "../styles/components/BecomeContentSlider.css";
@import "../styles/components/BecomeTabSection.css";
@import "../styles/components/BecomeTwocolSection.css";
@import "../styles/components/BorderButton.css";
@import "../styles/components/Button.css";
@import "../styles/components/FintechReviewPopup.css";
@import "../styles/components/FiveButtons.css";
@import "../styles/components/ForceForGoodTwoCol.css";
@import "../styles/components/HeroBanner.css";
@import "../styles/components/NumberCard.css";
@import "../styles/components/Sponsor.css";
@import "../styles/components/TabSection.css";
@import "../styles/components/TechZero.css";
@import "../styles/components/TwoColSection.css";
@import "../styles/components/UkFintechForm.css";
@import "../styles/components/WhatsUp.css";
@import "../styles/components/HeroSection.css";
@import "../styles/components/Announcements.css";





@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");
@import "../public/fonts/Neo_Sans_-_Tech_Font.css";
@import url("https://use.typekit.net/rfz1uen.css");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* pages */

@import "../styles/pages/directory.css";
@import "../styles/pages/about.css";
@import "../styles/pages/team.css";

@font-face {
  font-family: "Avenir";
  src: url("../public/font/AvenirLTStd-Book.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: AvenirBlack;
  src: url("../public/font/AvenirLTStd-Black.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: AvenirBook;
  src: url("../public/font/AvenirLTStd-Book.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: AvenirRoman;
  src: url("../public/font/AvenirLTStd-Roman.otf") format("opentype");
  font-display: swap;
}

/* html {
  scroll-behavior: smooth;
} */

html,
body {
  font-family: Poppins, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth !important;
}

body {
  background-color: #fff !important;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

/* a:hover {
  color: #4bbb87;
} */

.h1 {
  font-family: Poppins, sans-serif !important;
  font-size: 30px !important;
  font-weight: 700 !important;
  line-height: 45px !important;
  letter-spacing: -0.004em !important;
  margin-bottom: 16px !important;
}

h1 {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: -0.004em;
  margin-bottom: 16px;
}

h2 {
  font-size: 39px;
  color: #404040;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 31px;
  color: #404040;
  font-weight: 700;
  text-transform: none;
  margin-bottom: 0.5rem;
  line-height: 1.3em;
}

h4 {
  font-size: 25px;
  color: #404040;
  font-weight: 400;
  text-transform: none;
  font-family: "Poppins", sans-serif;
  line-height: 1.3em;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 20px;
  color: #404040;
  font-weight: 600;
  text-transform: none;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 27px;
  letter-spacing: -0.004em;
  color: #444444;
  /* margin-bottom: 0.5rem; */
}

.p {
  font-family: "Poppins", sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px;
  letter-spacing: -0.004em !important;
  color: #444444 !important;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 28px;
    /* --line-height: 42px;-- */
    /* line-height: 1.3em; */
    font-weight: 400;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

/* button */

.global-btn {
  font-family: Poppins, sans-serif;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
  /* float: right; */
  margin: auto;
  background-color: #4bbb87;
  color: #fff;
  margin-top: 35px;
  border-radius: 3px;
  text-transform: uppercase;
  box-shadow: none;
  padding: 12px 18px;
  font-size: 11px;
  line-height: 100%;
  transition: color 0.1s ease-in-out, background 0.1s ease-in-out,
    border 0.1s ease-in-out;
  -webkit-transition: color 0.1s ease-in-out, background 0.1s ease-in-out,
    border 0.1s ease-in-out;
  border: none;
}

.global-btn i {
  margin: -2px 15px 0 0;
  display: inline;
  vertical-align: baseline;
  opacity: 0;
  -ms-transform: translateX(-30px);
  transform: translateX(-30px) !important;
  -webkit-transform: translateX(-30px) !important;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
}

.global-btn span {
  display: inline-block;
  -ms-transform: translateX(-17px);
  transform: translateX(-17px);
  -webkit-transform: translateX(-17px);
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  transition-delay: 0.01s;
  -webkit-transition-delay: 0.01s;
  font-weight: 600;
}

.global-btn i svg {
  overflow: hidden;
  vertical-align: middle;
  display: inline;
}

.global-btn:hover {
  color: #ffffff;
  background-color: #3ae8bf;
}

.global-btn:hover i {
  opacity: 1;
}

.global-btn:hover span {
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

/* title in pwc-partnership/ getinvolved/theme sponsors/sponsorsandexhibitors */

#flare {
  font-size: 40px;
  letter-spacing: -2px;
  font-weight: 400;
  line-height: 95px;
  animation-name: keyframe_gradientChange;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes keyframe_gradientChange {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.card-hover-effects:hover {
  transform: translateY(-2%);
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
}

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #4bbb87;
}

::selection {
  color: #fff;
  background: #4bbb87;
}

/* cookie bar css starts */

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p {
  font-family: Poppins, sans-serif !important;
  font-size: 16px !important;
}

/* ReactCollapse accordion transition npm start*/

.ReactCollapse--collapse {
  transition: height 500ms;
}

/* ReactCollapse accordion transition npm  end*/

/*post-password-main-wrapper start*/

.post-password-main-wrapper {
  min-height: 456px;
  padding: 30px 20px;
}

.post-password-main-wrapper .box-holder {
  padding: 20px 10px;
  max-width: 1200px;
}

.post-password-main-wrapper .first-col,
.post-password-main-wrapper .second-col {
  padding: 15% 0;
}

.post-password-main-wrapper .pass-form {
  width: 85%;
  position: relative;
}

.post-password-main-wrapper p {
  display: flex;
  align-items: center;
  gap: 15px;
}

.post-password-main-wrapper input[type="password"] {
  padding: 6px 5px 6px 38px;
  width: 100%;
  margin: 0 !important;
  background: #ffffff;
  border: 1px solid #999;
  font-size: 13px;
}

.post-password-main-wrapper input::placeholder {
  color: #333333;
  opacity: 0.8;
}

.post-password-main-wrapper .vc_icon_element-icon {
  vertical-align: middle;
  font-size: 30px;
  position: absolute;
  left: 11px;
  top: 5px;
}

.post-password-main-wrapper .vc_icon_element-icon::before {
  width: 26px;
  height: 30px;
}

.post-password-main-wrapper .button {
  text-transform: capitalize;
  border-radius: 10px;
  padding: 12px 50px !important;
  font-size: 13px;
  line-height: 13px;
  float: right;
  background-color: #4bbb87;
  color: #fff;
  transition: all 0.15s ease-in-out;
  -webkit-perspective: 1000;
  width: 37%;
  font-weight: 700;
  margin: 0;
  vertical-align: top;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: inherit;
  overflow: visible;
  white-space: nowrap;
}

.post-password-main-wrapper .button:hover {
  background-color: #707070;
  color: #fff;
}

@media only screen and (max-width: 769px) {
  .post-password-main-wrapper p {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .post-password-main-wrapper {
    min-height: 456px;
    padding: 30px 20px;
  }

  .post-password-main-wrapper .first-col,
  .post-password-main-wrapper .second-col {
    padding: 8% 0;
  }
}

@media only screen and (max-width: 426px) {
  .post-password-main-wrapper {
    min-height: 500px;
  }

  .post-password-main-wrapper .first-col,
  .post-password-main-wrapper .second-col {
    padding: 3% 0;
  }
}

.innfin-password-content-footer a:hover {
  color: #4bbb87;
}

/*post-password-main-wrapper end*/

/* Loading css starts*/

.loading-height {
  min-height: 500px;
}

/* Loading css end*/

.password-content-1,
.password-content-2 {
  margin-bottom: 20px;
}

.password-wrapper {
  position: relative;
}

.password-wrapper .element-icon {
  vertical-align: middle;
  font-size: 30px;
  position: absolute;
  left: 11px;
  top: 5px;
}

.password-wrapper .post-password {
  background: #ffffff;
  border: 1px solid #999;
  color: #333333;
  padding: 6px 40px;
  margin: 0 20px 20px 0;
  font-size: 13px;
}

.password-wrapper .post-password:focus {
  outline: none;
}

.password-wrapper .pass-button {
  text-transform: capitalize;
  border-radius: 10px;
  padding: 12px 50px !important;
  background-color: #4bbb87;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  line-height: 13px !important;
  margin-bottom: 20px;
}

.password-content-footer {
  color: #444444;
  font-size: 14px;
}

@media only screen and (max-width: 483px) {
  .password-wrapper .post-password {
    margin-right: 0;
    width: 100%;
  }

  .password-wrapper .pass-button {
    width: 100%;
  }
}


/* elementor-template style start  */
.elementor-template ul,
.elementor-template ol {
  margin-bottom: 1em;
  margin-left: 1.5em;
  list-style-type: disc;
}

.elementor-template ul li,
.elementor-template ol li {
  margin-left: .85em;
}

.elementor-template table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin-bottom: 30px;
}

.elementor-template table td {
  text-align: center;
  padding: 12px;
}

.elementor-template .elementor-section .elementor-container {
  max-width: 1200px !important;
  padding-right: 20px;
  padding-left: 20px;
}

@media (max-width:1200px) {
  .elementor-template .elementor-section .elementor-container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* elementor-template style end  */