.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* @media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 75px;
  margin: auto 80px;
  padding: 0 20px;
}

.whatToExpectWrapper{
  display:contents
}
.detailsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 105px;
  margin: auto 80px;
  /* padding: 0 20px; */
}

.title {
  font-weight: 500;
  font-size: 54px;
  line-height: 54px;
  letter-spacing: -2px;
  color: #404040;
  width: 776px;
  height: 263px;
  text-align: left;
}

.subinfo {
  width: 516px;
  height: 144px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
}

.subinfo p {
  margin: 6px 0;
}

.buttonArea {
  display: flex;
  gap: 20px;
  margin-top: 35px;
}

.button {
  background: #4abf8a;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 18px 32px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 60px;
}

.imageArea .imageRight {
  border-radius: 32px;
  width: 568px;
  height: 567px;
}

 .textArea p {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #404040;
}

.textArea strong {
  font-weight: 600;
}

@media (min-width:769px) and (max-width: 992px) {
   .buttonArea {
    display: none;
  }

  .imageArea {
    display: none;
  }
}

